.responseContainer{
    width: 50%;
    height: 300px;
    overflow-y: auto;
}

.topCharts{
    min-width: 80%;
}

.fourQuadLegend{
    font-size: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}