

.form-container{

    
    .form{
        width: 50%;
        text-align: center;
        margin: 0 auto;


        .auth-label {
            font-style: bold;
        }

        // #rating{
        //     width: 30%;
        // }

        // #wellPrepared{
        //     width: 30%;
        // }

        // #askQuestions{
        //     width: 30%;
        // }

        // #concept{
        //     width: 30%;
        // }

        // #nice{
        //     width: 30%;
        // }

        // #review{
            
        // }
    }
}